@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --bg-color: #272525;
  --color-w: #6c6762;
  --color-s: #353333;
  --accent-color: #e0fe9c;
  --font: "Abel", sans-serif;
  --neumorphism: 20px 20px 60px #3d3737, -20px -20px 60px #2d2b2b;
  --neumorphism-inset: inset 2px 2px 5px #1e1e1e, inset -5px -5px 10px #e0fe9c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  font-family: var(--font);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.2px;
  color: var(--color-s);
  text-shadow: 1px 1px 1px var(--color-w);
  background-color: var(--bg-color);
}

.container {
  padding: 50px;
  max-width: 1080px;
  margin: 0 auto;
}
.logo {
  -moz-box-shadow: var(--neumorphism-inset);
  -webkit-box-shadow: var(--neumorphism-inset);
  box-shadow: var(--neumorphism-inset);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.logo {
  width: 90px;
  height: 90px;
  background: var(--bg-color);
  background-image: url("/imgs/ae_li_400.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.head {
  color: var(--color-s);
  text-align: center;
  margin-bottom: 35px;
}
.head h1 {
  font-family: "Abel";
  font-weight: 400;
  font-size: 35px;
}
h4 {
  color: #85d6e4;
}
.btn-tree {
  margin: 20px 0;
}
.btn-link {
  font-family: var(--font);
  font-size: 1em;
  font-weight: 500;
  border: 0;
  outline: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--accent-color);
  padding: 10px 40px;
  border-radius: 12px;
  min-width: 190px;
  margin-bottom: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 0 var(--color-w);
  box-shadow: var(--neumorphism);
  transition: background-color 300ms ease-in-out;
}

.btn-link:hover {
  box-shadow: var(--neumorphism-inset);
}
.btn-link:active {
  box-shadow: var(--neumorphism-inset);
}

footer {
  text-align: center;
}
footer a {
  color: var(--accent-color);
  text-decoration: none;
}
